#title{
    background-color: white;
    font-family: Roboto, Helvetica Neue, Lato, Open Sans;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    align-items: center
  
}
#text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    gap: 40px;
}
#title h2{
    margin: 0; 
    font-size: 60px; 
    color: #ccc; 
}

#title h3 {
    color: #383838;
}


.img-me {
   width: 400px;
   height: 400px;
   background-image: url(img/portfolio\ pic.jpg);
   background-size: cover;
   border-radius: 50%;
   background-position: center;
   margin-right: 150px;
   align-items: center;
}


 /*adding typing to name in title*/
.type-writer {  
    margin: 0;  
    overflow: hidden;
    white-space: nowrap;
    color: gray; 
    font-size: 60px;
    border-right: 5px solid #ccc;
    display: inline-block;
    animation: typewriter 2s steps(19) forwards,
    blink 800ms step-end infinite 2s;

}
@keyframes typewriter {
    from {
        width: 0%;
    }
    to {
       width: 80%;  /*stop cursor after name*/
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
    100% {
        border-color: transparent;
    }
}

#about{
    color: white;
    text-align: center;
    font-family: Roboto, Helvetica Neue, Lato, Open Sans;
    font-size: 30px;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-color: #BCD8DA;
}
#contact{
    color: lightgray;
    text-align: center;
    font-family: Roboto, Helvetica Neue, Lato, Open Sans;
    font-size: 30px;
    width: 100%;
    height: 50vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;

}
body {
    background-color:aliceblue;
    margin: 0%;
}
.navbar{
   background-color: #81B7BA;
   overflow: hidden;
   position:fixed;
   width: 100%;
   top: 0;

}
.navbar a {
   float: left;
   color: white;
   font-size: 17px;
   padding: 22px 24px;
   font-family: Open Sans, Roboto, Helvetica Neue, Lato;
   transition: top 0.3s;
   text-decoration: none; /*remove underline from text-navbar*/
}
html {
	scroll-behavior: smooth;
}
.container {
    width: 100%;
    height: 100vh;
    
}
